#homeBody {
    background-color: rgb(143, 20, 20);
}

#surveyBody {
    background-color: #fff;
}

.btn {
color: blue;
}

#exitButton {
    visibility: hidden;
    background-color: gray;
    color: black;
    margin-top: 20px;
    width: 850px;
    margin-left: 265px;
    height: 90px;
}

#menuText {
    margin-left: 595px;
    font-size: 65px;
}

#startButton {
    background-color: gray;
    margin-top: 20px;
    margin-left: 265px;
    width: 850px;
    height: 90px;
}

.my-rating {
    font-size: 12px;
}